body {
    background-color:#4B0082; /* Indigo - #4B0082 */
    color: white; /* Optional: Change text color to white for better readability */
}

.card {
    background-color: #FFFFFF; /* White background for cards to contrast with indigo */
    color: black; /* Text color for cards */
}
